*.iws
*.iml
*.ipr
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
*.pyc
*.json
*.txt
Outputs/Allure/report/data/behaviors.csv
Outputs/Allure/report/favicon.ico
Outputs/Allure/report/app.js
Outputs/Allure/report/index.html
Outputs/Allure/report/styles.css
Outputs/Allure/report/data/categories.csv
Outputs/Allure/report/data/suites.csv
Outputs/Allure/report/export/mail.html
Outputs/Allure/report/plugins/behaviors/index.js
Outputs/Allure/report/plugins/packages/index.js
Outputs/Allure/report/plugins/screen-diff/index.js
Outputs/Allure/report/plugins/screen-diff/styles.css
Outputs/Logs/web_auto.logs
Outputs/Reports/html_report.html
Outputs/Reports/report.xml
Outputs/Reports/assets/style.css
